# The user you want to manage via ssh.
user: root

# File used as authorized_keys for keylab user
auth_file: "authorized_keys"

# Log file.
# Default is keylab-shell.log in the root directory.
# log_file: "keylab-shell.log"

# Log level. INFO by default
log_level: INFO